<h1>Current Games</h1>

<table>
  <thead>
    <tr>
      <th>ID #:</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.guid %></td>
        <% if !game.has_started %>
          <td><%= link_to 'Join', join_game_path(id: game.id), method: :post =%>
        <% else %>
          <td>In Progress</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
