<p>
  <strong>Id #:</strong>
  <%= @game.guid %>
</p>

<p id="current-players">
  <strong>Players:</strong>
  <% @game.players.each do |player| %>
    <br>
    <%= player.email %>
  <% end %>
</p>

<%= link_to 'Forfeit' %>

<script>
   var source = new EventSource("/game_states/" + <%= @game_state.id %>);

   source.addEventListener("update", function(event) {
      var players = JSON.parse(event.data);

      var htmlString = "<strong>Players:</strong>";

      for (var player of players) {
         htmlString += ("<br>" + player);
      }

      $("#current-players").html(htmlString);
   });
</script>
